<main>
  <h1>From Event</h1>
  <div style="display: flex; justify-content: center; gap: 10px">
    <div
      class="add-video"
      style="
        border: 1px solid red;
        background: blue;
        height: 300px;
        padding: 90px;
      "
    >
      <button #addBtn>Add</button>
    </div>
    <div
      class="list-video"
      style="
        border: 1px solid red;
        background: blue;
        height: 300px;
        padding: 90px;
      "
    >
      <p>List</p>
      <ul id="listVideo"></ul>
    </div>
  </div>
</main>
