/* You can add global styles to this file, and also import other style files */
ul.success li {
  padding: 20px;
  background-color: green;
  color: black;
}

.error li {
  padding: 20px;
  background-color: red;
  color: black;
}
